.Menubar{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: overlay;
}

.Menubar::-webkit-scrollbar{
    display: none;
}

.basic-style, .button-add{

    margin: 5px 0px;
    border-radius: 10px;
    color: white;
    padding: 0px;
    background-color:var(--white-blue-color-opacity) ;
}

.basic-style{
    width: 80px;
    height: 80px;
    font-size: 16px;
}

.basic-style:hover{
    background-color:white;
    transition-duration: 0.3s;
    color: var(--white-blue-color-opacity);
}

.button-add{
    width: 55px;
    height: 55px;
    background-color: var(--white-blue-color-opacity);
    color: white;
    border: 4px dashed white;
    font-size: 30px;
}

.basic-style > a{
    color: var(--white-blue-color-opacity);
}

.tag{
    position: absolute;
    top: 0;
    right: 14px;
    width: 14px;
}

.show-animation{
    animation-duration: 0.5s;
    animation-name: show;
}

.material-symbols-size{
    font-size: 39px !important;
}


.material-symbols-addBox-style{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 60px !important;
    color: var(--white-blue-color-opacity);
}

@keyframes show {
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}
