.content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.linking-form {
    margin-bottom: 60px;
}

.linking-form h1 {
    font-size: 28px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-left: -20px;
    padding-left: 20px;
}

.linking-form .metadata {
    text-align: right;
}
.linking-form .metadata table {
    display: inline-block;
    color: #777;
}
.linking-form .metadata table tr>td:nth-child(2) {
    display: inline-block;
    margin-left: 10px;
}


.linking-form h2 {
    margin-top: 20px;
    font-size: 18px;
}

.linking-form .datetime {
    color: #646464;
    font-size: 16px;
    text-align: right;
    line-height: 2em;

}