.user-drpdwn > hr{
    border: 1.5px dashed gray;
}

.user-header{
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.user-list{
    margin-left: 50px;
    font-size: 15px;
    color: rgb(63, 63, 63);
}