:root {
  /*color*/
  --white-blue-color : #5B74DA;

  --white-blue-color-opacity : #7186FB;
  height: 100%;
}

body {
  font-family: Noto Sans KR,Apple SD Gothic Neo,Malgun Gothic,sans-serif;
}

.App {
  text-align: center;
}

/* 기본 css 스타일 해제 */
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

span {
  text-align: start;
}

p {
  margin: 0px;
}

button, input {
  background-color: none;
  border: none;
  font-family: inherit;
}

input:focus {
  outline: none;
}

button:hover,
input:hover {
  cursor: pointer;
}

fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: none;
}

legend {
  text-align: start;
}

.white-blue-color{
  color: var(--white-blue-color);
}

.white-blue{
  background-color: var(--white-blue-color);
}

.white-blue-opacity{
  background-color: var(--white-blue-color-opacity );
}

body, #root{
  height: 100%;
}

.center{
  display: flex;
  flex-direction: column;
}

.horazion{
  display: flex;
  flex-direction: row;
  min-height: -webkit-fill-available;
}

.right-content{
  width: 960px;
}

body::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #217af4; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*:focus {
  outline: 0;
}

html { overflow-y:scroll; }