.signup {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.signup>form {
    margin: 0 auto;
    display: inline-block;
}

.signup .title {
    font-weight: 600;
    font-size: 32px;
    margin: 150px 0px 40px 0px;
    color: var(--white-blue-color);
    text-align: center;
}

.signup input {
    width: 220px;
    margin: 15px 0;
    margin-left: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup .signup-button {
    display: inline-block;
    padding: 12px 32px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: #5B74DA;
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    transition: background-color .17s ease, color .17s ease;
}

.signup .signup-button:hover {
    background-color: #4558a6;
    border: none;
}


.signup .circle {
    position: absolute;
    bottom: -250px;
    right: -250px;
    width: 600px;
    height: 600px;
    background-color: #5B74DA;
    border-radius: 50%;
    display: inline-block;
}