.HC-body-sub{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.HC-body{
    max-width: 960px;
}


@media (max-width: 1118px) {
    .HC-body {
        max-width: 640px;
    }
}


@media (max-width: 798px) {
    .HC-body {
        max-width: 320px;
    }
}