.HC-body-sub{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.HC-body{
    max-width: 1020px;
}


@media (max-width: 1180px) {
    .HC-body {
        max-width: 680px;
    }
}


@media (max-width: 870px) {
    .HC-body {
        max-width: 340px;
    }
}