.Rcmnd-box{
    width: 300px;
    margin: 0px 10px;
}

.Rcmnd-box > img {
    width: 300px;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
}

.Rcmnd-box-title-style{
    font-size: 24px;
    font-weight: 800;
}

.Rcmnd-box-Title{
    color: rgb(104, 104, 104);
}